<p id="notice"><%= notice %></p>
<p>
  <strong>Id:</strong>
  <%= @comment.id %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
