<div class="form">
<%= form_with(model: touring_route, local: true) do |form| %>
  <% if touring_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(touring_route.errors.count, "error") %> prohibited this touring_route from being saved:</h2>

      <ul>
      <% touring_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field none">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :touring_name %>
    <%= form.text_field :touring_name %>
  </div>

  <div class="field">
    <%= form.label :touring_desc %>
    <%= form.text_field :touring_desc %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>


  <ul class="latlng">
    <li>
      <div class="field">
        <div class="flex">
          <%= radio_button_tag(:RadioGroup, "start",{:checked => true}) %>
          <%= label_tag(:RadioGroup_start, "出発地点") %>
        </div>
        <div class="none">
          <%= form.label :start_lat %>
          <%= form.text_field :start_lat %>
          <%= form.label :start_lon %>
          <%= form.text_field :start_lon %>
        </div>
      </div>
    </li>
    <li>
      <div class="field">
        <div class="flex">
          <%= radio_button_tag(:RadioGroup, "end") %>
          <%= label_tag(:RadioGroup_end, "目的地") %>
        </div>
        <div class="none">
          <%= form.label :end_lat %>
          <%= form.text_field :end_lat %>
          <%= form.label :end_lon %>
          <%= form.text_field :end_lon %>
        </div>
      </div>
    </li>
    <li>
      <div class="field">
        <div class="flex">
          <%= radio_button_tag(:RadioGroup, "wp1") %>
          <%= label_tag(:RadioGroup_wp1, "経由地1") %>
        </div>
        <div class="none">
          <%= form.label :wp1_lat %>
          <%= form.text_field :wp1_lat %>
          <%= form.label :wp1_lon %>
          <%= form.text_field :wp1_lon %>
        </div>
      </li>
    <li>
      <div class="field">
        <div class="flex">
          <%= radio_button_tag(:RadioGroup, "wp2") %>
          <%= label_tag(:RadioGroup_wp2, "経由地2") %>
        </div>
        <div class="none">
          <%= form.label :wp2_lat %>
          <%= form.text_field :wp2_lat %>
          <%= form.label :wp2_lon %>
          <%= form.text_field :wp2_lon %>
        </div>
      </div>
    </li>
    <li>
      <div class="field">
        <div class="flex">
          <%= radio_button_tag(:RadioGroup, "wp3") %>
          <%= label_tag(:RadioGroup_wp3, "経由地3") %>
        </div>
        <div class="none">
          <%= form.label :wp3_lat %>
          <%= form.text_field :wp3_lat %>
          <%= form.label :wp3_lon %>
          <%= form.text_field :wp3_lon %>
        </div>
      </div>
    </li>
  </ul>

  <div class="field none">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field none">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
</div>
