<p id="notice"><%= notice %></p>
<p>
  <strong>Touring id:</strong>
  <%= @touring_route.id %>
</p>
<p>
  <strong>Touring name:</strong>
  <%= @touring_route.touring_name %>
</p>

<p>
  <strong>Touring desc:</strong>
  <%= @touring_route.touring_desc %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @touring_route.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @touring_route.end_date %>
</p>

<p>
  <strong>Start lat:</strong>
  <%= @touring_route.start_lat %>
</p>

<p>
  <strong>Start lon:</strong>
  <%= @touring_route.start_lon %>
</p>

<p>
  <strong>End lat:</strong>
  <%= @touring_route.end_lat %>
</p>

<p>
  <strong>End lon:</strong>
  <%= @touring_route.end_lon %>
</p>

<p>
  <strong>Wp1 lat:</strong>
  <%= @touring_route.wp1_lat %>
</p>

<p>
  <strong>Wp1 lon:</strong>
  <%= @touring_route.wp1_lon %>
</p>

<p>
  <strong>Wp2 lat:</strong>
  <%= @touring_route.wp2_lat %>
</p>

<p>
  <strong>Wp2 lon:</strong>
  <%= @touring_route.wp2_lon %>
</p>

<p>
  <strong>Wp3 lat:</strong>
  <%= @touring_route.wp3_lat %>
</p>

<p>
  <strong>Wp3 lon:</strong>
  <%= @touring_route.wp3_lon %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @touring_route.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @touring_route.updated_at %>
</p>

<%= render 'comments/form', comment: @comment %>

<% @touring_route.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
<% end %>



<%= link_to 'Edit', edit_touring_route_path(@touring_route) %> |
<%= link_to 'Back', touring_routes_path %>

<div id="map" style=" width: 800px; height: 500px"></div>

<script>

function initMap() {
  var lat ;
   $.getJSON('/touring_routes/3') // json読み込み開
  // $.getJSON('https://graceful-kumejima-8698.lolipop.io/touring_routes/1.json') // json読み込み開始

  .done(function(json){ // jsonの読み込みに成功した時
    console.log('成功',json);
    console.log('座標1',json.start_lat);
    lat = json.start_lat ;
  })
  .fail(function(){ // jsonの読み込みに失敗した時
    console.log('失敗');
  })
  .always(function(){ // 成功/失敗に関わらず実行
    console.log('必ず実行される');
  });
    setTimeout(function() {
      console.log('座標2',lat);
}, 5000);
  // console.log('座標2',lat);

    // ルート検索の条件
    var request = {
        origin: new google.maps.LatLng(35.681382,139.766084), // 出発地
        destination: new google.maps.LatLng(34.73348,135.500109), // 目的地
        waypoints: [ // 経由地点(指定なしでも可)
            { location: new google.maps.LatLng(35.630152,139.74044) }
            ,
            { location: new google.maps.LatLng(35.507456,139.617585) },
            { location: new google.maps.LatLng(35.25642,139.154904) },
            { location: new google.maps.LatLng(35.103217,139.07776) },
            { location: new google.maps.LatLng(35.127152,138.910627) },
            { location: new google.maps.LatLng(35.142365,138.663199) },
            { location: new google.maps.LatLng(34.97171,138.38884) },
            { location: new google.maps.LatLng(34.769758,138.014928) },
        ],
        travelMode: google.maps.DirectionsTravelMode.WALKING, // 交通手段(歩行。DRIVINGの場合は車)
    };

    // マップの生成
    var map = new google.maps.Map(document.getElementById("map"), {
        center: new google.maps.LatLng(35.681382,139.766084), // マップの中心
        zoom: 7 // ズームレベル
    });

    var d = new google.maps.DirectionsService(); // ルート検索オブジェクト
    var r = new google.maps.DirectionsRenderer({ // ルート描画オブジェクト
        map: map, // 描画先の地図
        preserveViewport: true, // 描画後に中心点をずらさない
    });
    // ルート検索
    d.route(request, function(result, status){
        // OKの場合ルート描画
        if (status == google.maps.DirectionsStatus.OK) {
            r.setDirections(result);
        }
    });


}
</script>