<style>
body{
  background-image:none;
}
</style>


<p id="notice"><%= notice %></p>

<div class="contents-show">
<p>
  <strong class="icon">Icon file name:</strong>
  <%= @rider.icon_file_name %>
</p>

<br>

<p><i class="far fa-user-circle user-icon"></i></p>

<br>

<p>
<strong class="username"><%= @rider.rider_name %></strong>
</p>

<div class="profile">

<p>
  <strong>Email:</strong>
  <%= @rider.email %>
</p>

<p>
  <strong>Bike name:</strong>
  <%= @rider.bike_name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @rider.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @rider.updated_at %>
</p>
</div>

<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
</div>