<!DOCTYPE html>
<html>

  <header>
    <title>RidersMeetingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <h1>RidersMeeting</h1>
    <ul>
      <li><%= link_to 'route', touring_routes_path %></li>
      <li><%= link_to 'rider', riders_path %></li>    
    </ul>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
